%svg{ xmlns: 'http://www.w3.org/2000/svg', version: '1.1', width: 30 * 28, height: 25 * 5 }

  - $width = 30 * 5
  - $height = 30 * 5

  :sass
    .thick
      stroke-width: 2
      stroke: rgb(0,0,0)
      stroke-linejoin: round
    .orange
      fill: rgb(200, 100, 30)
    .red
      fill: rgb(200, 30, 30)
    .yellow
      fill: rgb(170, 170, 30)
    .blue
      fill: rgb(60, 60, 200)
    .green
      fill: rgb(50, 200, 50)
    .guide
      stroke: rgb(255, 0, 255)
      stroke-width: 2

  -#
    %line.guide{ x1: 0, x2: 30 * 28, y1:  12.5, y2:  12.5 }
    %line.guide{ x1: 0, x2: 30 * 28, y1:  37.5, y2:  37.5 }
    %line.guide{ x1: 0, x2: 30 * 28, y1:  62.5, y2:  62.5 }
    %line.guide{ x1: 0, x2: 30 * 28, y1:  87.5, y2:  87.5 }
    %line.guide{ x1: 0, x2: 30 * 28, y1: 112.5, y2: 112.5 }

    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 0})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 1})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 2})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 3})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 4})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 5})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 6})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 7})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 8})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 9})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 10})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 11})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 12})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 13})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 14})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 15})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 16})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 17})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 18})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 19})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 20})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 21})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 22})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 23})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 24})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 25})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 26})" }
    %line.guide{ x1: 15, x2: 15, y1: 0, y2: 25 * 5, transform: "translate(#{30 * 27})" }

  -# drum
  %rect.thick.orange{ width: 20, height: 20, x: 5, y: 2.5, rx: 2, ry: 2, transform: 'translate(0 100)' }
  %rect.thick.red{    width: 20, height: 20, x: 5, y: 2.5, rx: 2, ry: 2, transform: 'translate(30 75)' }
  %rect.thick.yellow{ width: 20, height: 20, x: 5, y: 2.5, rx: 2, ry: 2, transform: 'translate(60 50)' }
  %rect.thick.blue{   width: 20, height: 20, x: 5, y: 2.5, rx: 2, ry: 2, transform: 'translate(90 25)' }
  %rect.thick.green{  width: 20, height: 20, x: 5, y: 2.5, rx: 2, ry: 2, transform: 'translate(120 0)' }

  -# cymbal (crash)
  %circle.thick.yellow{ r: 10, cx: 15, cy: 12.5, transform: 'translate(150 50)' }
  %circle.thick.blue{   r: 10, cx: 15, cy: 12.5, transform: 'translate(180 25)' }
  %circle.thick.green{  r: 10, cx: 15, cy: 12.5, transform: 'translate(210 0)' }

  -# ding (ride, closed hihat)
  %polygon.thick.yellow{ points: '15,2.5 5,12.5 15,22.5 25,12.5', transform: 'translate(240 50)' }
  %polygon.thick.blue{   points: '15,2.5 5,12.5 15,22.5 25,12.5', transform: 'translate(270 25)' }
  %polygon.thick.green{  points: '15,2.5 5,12.5 15,22.5 25,12.5', transform: 'translate(300 0)' }

  -# open hihat
  %polygon.thick.yellow{ points: '15,2.5 5,7.5 10,12.5 5,17.5 15,22.5 25,17.5 20,12.5 25,7.5', transform: 'translate(330 50)' }
  %polygon.thick.blue{   points: '15,2.5 5,7.5 10,12.5 5,17.5 15,22.5 25,17.5 20,12.5 25,7.5', transform: 'translate(360 25)' }
  %polygon.thick.green{  points: '15,2.5 5,7.5 10,12.5 5,17.5 15,22.5 25,17.5 20,12.5 25,7.5', transform: 'translate(390 0)' }

  -# ghost drum
  %rect.thick.orange{ width: 10, height: 10, x: 10, y: 7.5, rx: 2, ry: 2, transform: 'translate(420 100)' }
  %rect.thick.red{    width: 10, height: 10, x: 10, y: 7.5, rx: 2, ry: 2, transform: 'translate(450 75)' }
  %rect.thick.yellow{ width: 10, height: 10, x: 10, y: 7.5, rx: 2, ry: 2, transform: 'translate(480 50)' }
  %rect.thick.blue{   width: 10, height: 10, x: 10, y: 7.5, rx: 2, ry: 2, transform: 'translate(510 25)' }
  %rect.thick.green{  width: 10, height: 10, x: 10, y: 7.5, rx: 2, ry: 2, transform: 'translate(540 0)' }

  -# foot close hihat
  %polygon.thick.yellow{ points: '15,7.5 10,12.5 15,17.5 20,12.5', transform: 'translate(570 100)' }

  -# flam
  %rect.thick.red{    width: 20, height: 45, x: 5, y: 2.5, rx: 2, ry: 2, transform: 'translate(600 50)' }
  %rect.thick.yellow{ width: 20, height: 45, x: 5, y: 2.5, rx: 2, ry: 2, transform: 'translate(630 25)' }
  %rect.thick.blue{   width: 20, height: 45, x: 5, y: 2.5, rx: 2, ry: 2, transform: 'translate(660 25)' }
  %rect.thick.blue{   width: 20, height: 45, x: 5, y: 2.5, rx: 2, ry: 2, transform: 'translate(690 0)' }
  %rect.thick.green{  width: 20, height: 45, x: 5, y: 2.5, rx: 2, ry: 2, transform: 'translate(720 0)' }

  -# ride
  %polygon.thick.yellow{ points: '15,2.5 5,22.5 25,22.5', transform: 'translate(750 50)' }
  %polygon.thick.blue{   points: '15,2.5 5,22.5 25,22.5', transform: 'translate(780 25)' }
  %polygon.thick.green{  points: '15,2.5 5,22.5 25,22.5', transform: 'translate(810 0)' }
